
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h2>XXX Agents</h2>
      <p class="lead">メンバー紹介＆マッチングサイト</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">エージェント一覧</h3>
      </div>
      <div class="panel-body">
        <% while ! @agents.empty? do %>
          <% row_agents = @agents.pop 3 %>
          <div class="row">
            <div class="col-lg-4">
              <% if row_agents[0] %>
                <div class="well">
                  <% agent = row_agents[0] %>
                  <a href="/top/show/<%= agent.id %>">
                    <%= image_tag("default_image.png", :class => 'img-thumbnail') %><br>
                    <strong><%= agent.appeal %></strong>
                    <div class="caption">
                      <%= agent.last_name %>&nbsp;&nbsp;
                      <%= agent.first_name %>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
            <div class="col-lg-4">
              <% if row_agents[1] %>
                <div class="well">
                  <% agent = row_agents[1] %>
                  <a href="/top/show/<%= agent.id %>">
                    <%= image_tag("default_image.png", :class => 'img-thumbnail') %><br>
                    <strong><%= agent.appeal %></strong>
                    <div class="caption">
                      <%= agent.last_name %>&nbsp;&nbsp;
                      <%= agent.first_name %>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
            <div class="col-lg-4">
              <% if row_agents[2] %>
                <div class="well">
                  <% agent = row_agents[2] %>
                  <a href="/top/show/<%= agent.id %>">
                    <%= image_tag("default_image.png", :class => 'img-thumbnail') %><br>
                    <strong><%= agent.appeal %></strong> <div class="caption"> <%= agent.last_name %>&nbsp;&nbsp;
                      <%= agent.first_name %>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
