<div class="page-header" id="banner">
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">基本情報</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-3">
            <%= image_tag("default_image.png") %>
          </div>
          <div class="col-lg-5">
            氏名:
            <%= @agent.last_name %>&nbsp;&nbsp;
            <%= @agent.first_name %>
            <br>
            性別: <%= @agent.sex %><br>
            年齢: <%= @agent.age %><br>
            出身地: <%= @agent.home_city %><br>
            所在地: <%= @agent.location %>
          </div>
          <div class="col-lg-4">
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-default">アポイントのお願い</button>
              <button type="button" class="btn btn-default">質問・ご相談</button>
              <button type="button" class="btn btn-default">ご連絡</button>
              <button type="button" class="btn btn-default">遊び・飲み会のお誘い</button>
              <button type="button" class="btn btn-default">交流会のお誘い</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            アピール: <%= @agent.appeal %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
