<div class="page-header" id="banner">
</div>

<div class="row">
  <div class="col-lg-12">
    <% if @agent.free_word %>
      <div class="jumbotron">
        <h2><%= @agent.free_word %></h2>
      </div>
    <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">基本情報</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <% if @agent.icon %>
              <%= image_tag("/top/icon/#{@agent.id}", :class => 'img-thumbnail') %><br>
            <% else %>
              <%= image_tag("/assets/default_image.png", :class => 'img-thumbnail') %><br>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h3>
              <dl class="dl-horizontal">
                <dt>氏名:</dt>
                <dd><%= @agent.last_name %>&nbsp;<%= @agent.first_name %></dd>
                <dt>ニックネーム:</dt><dd><%= @agent.nick_name %></dd>
                <dt>生年月日:</dt><dd><%= @agent.birth_day %></dd>
                <dt>性別:</dt><dd><%= @agent.sex %></dd>
                <dt>年齢:</dt><dd><%= @agent.age %></dd>
                <dt>出身地:</dt><dd><%= @agent.home_city %></dd>
                <dt>所在地:</dt><dd><%= @agent.location %></dd>
                <dt>趣味:</dt><dd><%= @agent.hobby %></dd>
                <dt>特技:</dt><dd><%= @agent.ability %></dd>
                <dt>抱負:</dt><dd><%= @agent.ambition %></dd>
              </dl>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">ビジネス</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <th>会社名</th>
              <th>役職</th>
              <th>業務内容</th>
            </tr>
            <% @agent.businesses.each do |business| %>
              <tr class="active">
                <td><%= business.company_name %></td>
                <td><%= business.company_position %></td>
                <td><%= business.outline %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-primary" style="display:none">
      <div class="panel-heading">
        <h3 class="panel-title">連絡</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <button type="button" class="btn btn-default btn-lg btn-block">アポイントのお願い</button>
          <button type="button" class="btn btn-default btn-lg btn-block">質問・ご相談</button>
          <button type="button" class="btn btn-default btn-lg btn-block">ご連絡</button>
          <button type="button" class="btn btn-default btn-lg btn-block">遊び・飲み会のお誘い</button>
          <button type="button" class="btn btn-default btn-lg btn-block">交流会のお誘い</button>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-md-12">
          <%= link_to top_index_path do %>
            <button type="button" class="btn btn-default btn-block">戻る</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
