<div class="well">
<%= nested_form_for @agent, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :icon_label, '顔写真', 
                :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.file_field :icon %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name_label, '名前', 
                :class => 'col-lg-2 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :last_name, :class => 'form-control',
                       :id => 'inputDefault' %>
    </div>
    <div class="col-lg-5">
      <%= f.text_field :first_name, :class => 'form-control',
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kana_label, 'ひらがな', 
                :class => 'col-lg-2 control-label' %>
    <div class="col-lg-5">
      <%= f.text_field :last_name_kana, :class => 'form-control',
                       :id => 'inputDefault' %>
    </div>
    <div class="col-lg-5">
      <%= f.text_field :first_name_kana, :class => 'form-control',
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nick_name_label, 'ニックネーム', 
                :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :nick_name, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email_label, 'Email', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control', 
                       :id => 'inputEmail', :placeholder => 'Email' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sex_label, '性別', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select(:sex, 
        [
          ['男', Agent::SEX::MALE], 
          ['女', Agent::SEX::FEMALE], 
          ['その他', Agent::SEX::OTHER]
        ], 
        {:prompt => '選択してください'},
        {:class => "form-control", :id => "select"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birth_day_label, '生年月日', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.date_select :birth_day, :use_month_numbers => true, 
                        :start_year => 1900, :end_year => Time.now.year, 
                        :include_blank => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :home_city_label, '出身地', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :home_city, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_label, '所在地', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hobby_label, '趣味', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :hobby, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ability_label, '特技', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :ability, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ability_label, '職業', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10"></div>
    <div class="col-lg-12">
      <%= f.fields_for :businesses do |b_f| %>
        <div class="well">
          <div class="form-group">
            <%= f.label :company_name_label, '会社名', :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= b_f.text_field :company_name, :class => 'form-control', 
                                 :id => 'inputDefault' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company_position_label, '役職', :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= b_f.text_field :company_position, :class => 'form-control', 
                                 :id => 'inputDefault' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company_outline, '仕事内容', :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= b_f.text_field :outline, :class => 'form-control', 
                                 :id => 'inputDefault' %>
            </div>
          </div>
          <%= b_f.link_to_remove "削除" %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <%= f.link_to_add "追加", :businesses %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :free_word_label, '一言', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :free_word, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ambition_label, '抱負', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :ambition, :class => 'form-control', 
                       :id => 'inputDefault' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  agents_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
</div>
