<%= nested_form_for @agent, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :icon, '顔写真', :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :icon %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '名前', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, 'ひらがな', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name_kana, :class => 'text_field' %>
      <%= f.text_field :first_name_kana, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, 'ニックネーム', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nick_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '性別', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :sex, [['男', 0], ['女', 1], ['その他', 2]], :prompt => '選択してください' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '生年月日', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :birth_day, :use_month_numbers => true, :start_year => 1900 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '出身地', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :home_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '所在地', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '趣味', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hobby, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '特技', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ability, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.fields_for :businesses do |b_f| %>
      <%= b_f.label :name, '会社名', :class => 'control-label' %>
      <div class="controls">
        <%= b_f.text_field :company_name, :class => 'text_field' %>
      </div>
      <%= b_f.label :name, '役職', :class => 'control-label' %>
      <div class="controls">
        <%= b_f.text_field :company_position, :class => 'text_field' %>
      </div>
      <%= b_f.label :name, '仕事内容', :class => 'control-label' %>
      <div class="controls">
        <%= b_f.text_field :outline, :class => 'text_field' %>
      </div>
      <%= b_f.link_to_remove "職業削除" %>
    <% end %>
    <%= f.link_to_add "職業追加", :businesses %>
  </div>
  <div class="control-group">
    <%= f.label :name, '一言', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :free_word, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, '抱負', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ambition, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                agents_path, :class => 'btn' %>
  </div>
<% end %>
